
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- d3 & scripts & stylesheets files-->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" charset="utf-8" />
    <script type="text/javascript" src="/javascripts/lib/d3.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/nv.d3.js"></script>
    <script type="text/javascript" src="/javascripts/lib/angular-nvd3.js"></script>
    <link rel="stylesheet" href="/stylesheets/nv.d3.css" charset="utf-8" />
    <script type="text/javascript" src="/javascripts/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src='/javascripts/app/donutChart.js'></script>

        <title><% title %></title>

      </head>
  <body>


          <div ng-controller="donutChartController">

            <nvd3 options="options" data="data"></nvd3>

          </div>


              <% include foot %>

    </body>
</html>
