

  <% include head %>


    <h1><%= title %></h1>
      <!-- <p>Welcome to <%= title %></p> -->

        <section ng-app="africaApp">


        <label>Search by Country: <input ng-model="search.name" placeholder="ex. Kenya"></label>

        <hr />

          <table ng-controller="countriesController">
            <tr>
              <th>Country Name</th>
                <th>Subscriptions (per 100)</th>
                  <th>Year</th>
            </tr>
            <tr ng-repeat="country in countries | filter:search.name">
              <td> {{ country.Country }} </td>
                <td> {{ country.Value | number:0 }} </td>
                  <td> {{ country.Year }} </td>
            </tr>
          </table>

        </section>


      <script type="text/javascript" src="/javascripts/angular-app.js"></script>

    <% include foot %>
