body {
  background-image: url("/images/mobile_antennas.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white !important;
}
a {
  color: rgb(238, 204, 145);
}
